@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.box {
                background: rgb(131 43 115);
                color: white;
                padding: 31px;
                height: 50vw;
                border: 10px solid #000;
                box-sizing: border-box;
                width: 50vw;
                min-width: 200px;
                max-width: 300px;
                max-height: 200px;
                min-height: 300px;
                text-align: justify;
                text-transform: uppercase;
                

                /* font-family: "Roboto", sans-serif; */
  
}

h1{
  font-family:'fraunces', serif;
}


/* .header {
        background: orange;
      }
      p{
        color:green;
        font-size: 40px;
      }
p{
    color: green;
}
.test{
    background-color: blue;
}
.test{
    background-color: #A0C6E8;
    ;
} */